/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #181818;
  -webkit-background-size: cover;
  background-size: cover;
}
.title {
  color: lightgray;
  margin:0;
  padding:50px 20px;
}
